@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.App {
  font-family: 'Open Sans', sans-serif;
}
.App-Bar{
  /* background-color: #333; */
    /* background-color: #69841F; */
  background-color: #1460a7;
  height: 28px;
  padding: 2%;
  font-family: Libre Franklin;
  font-size: 22px;
  text-align: center;
}

